In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../data/Interview.csv')

In [3]:
df.head()

,Date of Interview,Client name,Industry,Location,Position to be closed,Nature of Skillset,Interview Type,Name(Cand ID),Gender,Candidate Current Location,...,Are you clear with the venue details and the landmark.,Has the call letter been shared,Expected Attendance,Observed Attendance,Marital Status,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
0,13.02.2015,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 1,Male,Chennai,...,Yes,Yes,Yes,No,Single,NaN,NaN,NaN,NaN,NaN
1,13.02.2015,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 2,Male,Chennai,...,Yes,Yes,Yes,No,Single,NaN,NaN,NaN,NaN,NaN
2,13.02.2015,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 3,Male,Chennai,...,NaN,NaN,Uncertain,No,Single,NaN,NaN,NaN,NaN,NaN
3,13.02.2015,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 4,Male,Chennai,...,Yes,Yes,Uncertain,No,Single,NaN,NaN,NaN,NaN,NaN
4,13.02.2015,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 5,Male,Chennai,...,Yes,Yes,Uncertain,No,Married,NaN,NaN,NaN,NaN,NaN

In [4]:
#drop unnamed columns
df.drop(['Unnamed: 23','Unnamed: 24','Unnamed: 25','Unnamed: 26','Unnamed: 27'],axis=1,inplace=True)

#renamed columns
df.columns = ['interview_date','client_name', 'industry', 'location',
       'interview_position', 'skillset', 'interview_type', 'name', 'gender',
       'candidate_current_location', 'candidate_job_location',
       'interview_venue', 'candidate_native_location', 'start_time_permission',
       'hope_no_unscheduled', 'call_3_hours_prior', 'alternative_number',
       'printed_resume_read_jd', 'can_find_interview', 'call_letter_shared',
       'expected_attendance', 'actual_attendance', 'marital_status']

In [5]:
df.head()

,interview_date,client_name,industry,location,interview_position,skillset,interview_type,name,gender,candidate_current_location,...,start_time_permission,hope_no_unscheduled,call_3_hours_prior,alternative_number,printed_resume_read_jd,can_find_interview,call_letter_shared,expected_attendance,actual_attendance,marital_status
0,13.02.2015,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 1,Male,Chennai,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,No,Single
1,13.02.2015,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 2,Male,Chennai,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,No,Single
2,13.02.2015,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 3,Male,Chennai,...,NaN,Na,NaN,NaN,NaN,NaN,NaN,Uncertain,No,Single
3,13.02.2015,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 4,Male,Chennai,...,Yes,Yes,No,Yes,No,Yes,Yes,Uncertain,No,Single
4,13.02.2015,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 5,Male,Chennai,...,Yes,Yes,Yes,No,Yes,Yes,Yes,Uncertain,No,Married

In [6]:
df['interview_date'].replace(['25 â€“ Apr-16'],'25.04.2016',inplace=True)
df['interview_date'] = df['interview_date'].str[:10]
df['interview_date'] = pd.to_datetime(df['interview_date'])
df.head()

,interview_date,client_name,industry,location,interview_position,skillset,interview_type,name,gender,candidate_current_location,...,start_time_permission,hope_no_unscheduled,call_3_hours_prior,alternative_number,printed_resume_read_jd,can_find_interview,call_letter_shared,expected_attendance,actual_attendance,marital_status
0,2015-02-13,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 1,Male,Chennai,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,No,Single
1,2015-02-13,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 2,Male,Chennai,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,No,Single
2,2015-02-13,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 3,Male,Chennai,...,NaN,Na,NaN,NaN,NaN,NaN,NaN,Uncertain,No,Single
3,2015-02-13,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 4,Male,Chennai,...,Yes,Yes,No,Yes,No,Yes,Yes,Uncertain,No,Single
4,2015-02-13,Hospira,Pharmaceuticals,Chennai,Production- Sterile,Routine,Scheduled Walkin,Candidate 5,Male,Chennai,...,Yes,Yes,Yes,No,Yes,Yes,Yes,Uncertain,No,Married

In [ ]:
df.fillna("empty", inplace= True)

In [7]:
columns = ['client_name', 'industry', 'location',
       'interview_position', 'skillset', 'interview_type', 'name', 'gender',
       'candidate_current_location', 'candidate_job_location',
       'interview_venue', 'candidate_native_location', 'start_time_permission',
       'hope_no_unscheduled', 'call_3_hours_prior', 'alternative_number',
       'printed_resume_read_jd', 'can_find_interview', 'call_letter_shared',
       'expected_attendance', 'actual_attendance', 'marital_status']

for ind_col in columns: 
    df[ind_col] = df[ind_col].apply(lambda x: str(x).lower())

In [8]:
# Not my columns
#fixing the duplicate names in the Location column
# df.Location.replace([chennai '],'Chennai',inplace=True)
# df.Location.replace(['- Cochin- '],'Chochin',inplace=True)
#df.location.unique()

In [16]:
df['printed_resume_read_jd'].replace(['yes '],'yes',inplace=True)
df['printed_resume_read_jd'].replace(['no- will take it soon','not yet','na'],'no',inplace=True)
df['printed_resume_read_jd'].value_counts()

yes    942
nan    249
no      43
Name: printed_resume_read_jd, dtype: int64

In [10]:
df['call_3_hours_prior'].replace(['no dont','na'],'no',inplace=True)
df['call_3_hours_prior'].unique()
df['call_3_hours_prior'].value_counts()

yes    955
nan    248
no      31
Name: call_3_hours_prior, dtype: int64

In [11]:
df['alternative_number'].replace(['no i have only thi number','na'],'no',inplace=True)
df['alternative_number'].unique()
df['alternative_number'].value_counts()

yes    937
nan    248
no      49
Name: alternative_number, dtype: int64

In [12]:
df['hope_no_unscheduled'].replace(['not sure','na','cant say','not sure'],'no',inplace=True)
df['hope_no_unscheduled'].value_counts()

yes    954
nan    248
no      32
Name: hope_no_unscheduled, dtype: int64

In [13]:
df['start_time_permission'].replace(['yet to confirm','na','not yet'],'no',inplace=True)
df['start_time_permission'].value_counts()

yes    921
nan    205
no     108
Name: start_time_permission, dtype: int64

In [2]:
# drop where gender is Nan
df = df.drop(index=1233)

# synthesize to consistent names for current loc
df['candidate_current_location'] = df['candidate_current_location'].replace({'chennai':'Chennai', 'chennai ':'Chennai', 'CHENNAI':'Chennai', '- Cochin- ':'Cochin'})

# consistent names for job loc
df['candidate_job_location'] = df['candidate_job_location'].replace({'- Cochin- ':'Cochin'})

# consistent names for interview venue
df['interview_venue'] = df['interview_venue'].replace({'- Cochin- ':'Cochin'})

# consistent locations for native loc
df['candidate_native_location'] = df['candidate_native_location'].replace({'- Cochin- ':'Cochin', 'Dehli/ NCR': 'NCR'})

NameError: name 'df' is not defined